html{
	font-size:16px;
}


*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
	background-color: #989898;
	max-width:40rem;
	height:100%;
	margin:0 auto;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 4rem;
	color:#BCEA39;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	color:#BCEA39;
	position: relative;
    margin: 0;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	color:#989898;
	margin: 0.3rem;
}

p{
	font-family: 'Roboto', sans-serif;
	padding:2%;
	font-size:1.1rem;
}


.block{
	display: inline-block;
}

.centrer{
	margin:0 auto;
}

.flex-container{
	display : flex;
	flex-flow: row nowrap;
	justify-content :space-around;
	align-items: center;
}

.column{
	display : flex;
	flex-flow: column nowrap;
	justify-content : content;
	align-items: stretch;
	padding:1%;
}

.noir{
	font-family: 'Roboto', sans-serif;
	background-color: black;
	color:#989898;

}










/**********HEADER ACCUEIL : nom du jeu et infos sur la partie*******************/
/**********HEADER ACCUEIL: nom du jeu et infos sur la partie******************/
/**********HEADER ACCUEIL: nom du jeu et infos sur la partie******************/

.titre{
	height : 7.8rem;
	width:100%;
	margin-top: 0.2rem;
}

 #nom-jeu{
 	flex-basis:50%;
 	order:1;
 	line-height:0.85em;
 	margin: 0.2rem;
 	padding:0.4rem;
 	text-align:right;
 	border-left:3rem solid #BCEA39;
 }

 .menu-jeu{
 	background-color:#BCEA39;
 	flex-basis:50%;
 	height:100%;
 	order:2;
 	padding:0.6rem;
 	margin:0.5em;
 	justify-content: space-around;
 }

h4{
 	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 0.90em;
	color:#989898;
	margin: 0;
	padding: 0;
	flex: 650%;
	text-align: center;
 }


/*****Boutons nombres de joueurs**********/
/*****Boutons nombres de joueurs**********/


div.item{
	width:4rem;
    height:4rem;
	position:relative;
}

input[name="nb_joueurs"],
input[name="billes_jouees"]{
    width:4rem;
    height:4rem;
    padding:0rem;
    margin:0;
    position:absolute;
    background-color: transparent;
    z-index:5;
}

label[for="un"],
label[for="deux"]{
   position: absolute;
   height: 4rem;
   width: 4rem;
   color: #BCEA39;
   appearance: none;
   background-color: #989898;
   cursor: text;
   font-family: 'Roboto', sans-serif;
   font-size:4rem;
   font-weight: 600;
   text-align: center;
   line-height: 1em;
   padding: 0;
   margin-bottom: 0.2rem;
   border: none;
}

input[name="nb_joueurs"]:hover + label{
	background-color: #BCEA39;
	color:#989898;
	outline: none;
  	border:none;
}

input[name=nb_joueurs]:focus+label,
input[name=nb_joueurs]:checked+label{
	background-color:black ;
	color:#BCEA39;
	outline: none;
  	border:none;

}




/*****Bouton nombre de billes**********/

input {
    color: #BCEA39;
    appearance: none;
    outline:none;
    border:none;
    background-color: #989898;
    cursor: text;
    margin: 0.2rem;
    font-family: 'Roboto', sans-serif;
    font-size:4rem;
    font-weight: 600;
    width:8rem;
    height:4rem;
    padding:0;
    margin:0;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number]:focus{
	outline: none;
  	border:none;
  	text-align:center;
}


.fa-redo{
	background-color:#989898 ;
	color :#BCEA39;
	font-size: 3.2rem;
	text-align: center;
	padding:0.4rem;
}

.fa-redo:hover{
	background-color:#BCEA39 ;
	color: black;
	font-size: 3.2rem;
	text-align: center;
	padding:0.4rem;
}


.style-joueur{
	font-size: 1.5rem;
	background-color: black;
	color:#BCEA39;
	font-family: 'Roboto', sans-serif;
    font-size:4rem;
    font-weight: 600;
    text-align: center;
    line-height: 1em;
    padding: 0;
    margin-bottom: 0.2rem;
    border: none;
	
}

.padding_5{
	padding:0.5rem;
}

#choix_joueurs{
	padding:00;
	/* width:50%; */

}

#billes{
	color: #BCEA39;
    appearance: none;
    outline:none;
    border:none;
    background-color: #989898;
    cursor: text;
    margin: 0.2rem;
    font-family: 'Roboto', sans-serif;
    font-size:4rem;
	font-weight: 600;
	text-align: center;
	line-height: 4rem;
    width:8rem;
    height:4rem;
    padding:0;
    margin:0;
    position:relative;

}









/*****************MAIN : corps du jeu*****************/
/*****************MAIN : corps du jeu*****************/
/*****************MAIN : corps du jeu*****************/



/*****************MAIN : ACCUEIl*****************/

#lancement_jeu{
	/* display:inline-flex; */
	flex:auto;
	background-color: #989898;
	height:30rem;
	width:100%;
}

.circle {
   display:inline-block;
   width: 20rem;
   height: 20rem;
   clip-path: circle();
   background: black;
   margin: auto auto;
}

#play{
	position: relative;
	top: 50%;
	left:50%;
    transform: translate(-50%, -50%);
    background-color:black;
    border:none;
    box-shadow: none;
}

#play:hover {
    background-color: #989898;
    border:none;
    outline:none;
}

#play:active,
#play:focus{
    box-shadow: none;
    border:none;
    outline:none;
}

.message{
	display:block;
	font-family: 'Roboto', sans-serif;
	background-color: black;
	color:#989898;
}



/*****************MAIN : INSCRIPTION 2 JOUEURS****************/
/*****************MAIN : INSCRIPTION 2 JOUEURS****************/
/*****************MAIN : INSCRIPTION 2 JOUEURS****************/
.clair{
	background-color: #E5E5E5;
}

.block>h1{
	display:block;
	color:#989898;
	font-size:2.5rem;
	text-align: center;
}

.container-inscription{
	display:flex;
	flex-flow:column;
	justify-content: center;
	text-align: center;
    align-items: stretch;
	width:48%;
	height: 85%;
	margin-top: 1rem;
}

#name1,
#name2{
	padding:0.2rem;
	text-align:center;
}

label>h3{
	text-align: center;
	margin:0;
}


label>img{
	width: 8rem;
}


label.nom{
	height:2.2rem;
	margin-top:0rem;
}


input[type=text]{
	height:2.2rem;
	margin: 0.5rem 1rem;
	width:auto;
	background-color:#989898;
	font-size:1.5rem;
	font-weight: 400;
	color:#BCEA39;
}


input[type=text]:focus{
	outline: none;
  	border:none;
}




/************** Boutons radio choix avatar************/
/************** Boutons radio choix avatar************/
/************** Boutons radio choix avatar************/

.joueur-inscription{
	margin-top:0.5rem;
}

input[name=avatar1],
input[name=avatar2]{
	position:absolute;
	background-color: transparent;
	width:8rem;
	height:8rem;
	z-index:5;
}


.label-avatar{
	display:flex;
	margin:1rem;
	z-index:5;
}

input[name=avatar1]:checked + label, 
input[name=avatar2]:checked + label{
	background-color: black;
}

label img{
	z-index:6;
}




/************** Boutons validation inscriptions*****************/
/************** Boutons validation inscriptions*****************/
/************** Boutons validation inscriptions*****************/

button[type=submit]{
	text-decoration: none;
	appearance:none;
	border:none;
	width: 4rem;
	height: 3rem;
	background-color: #BCEA39;
	color: #989898;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	margin: 1rem auto;
	padding: 0; 
}

button[type=submit]:hover{
	background-color: #989898;
	color: #BCEA39;
}

button[type=submit]:active{
	background-color: #989898;
	color: black;
}

button[type=submit]:focus{
	position:relative;
	outline: none;
  	border:none;
	background-color: black;
	color: #BCEA39;
}

/**************DISABLED***********************/
/**************DISABLED***********************/

/* #un-joueur [disabled],
#deux-joueurs [disabled]{
	opacity: 50%;
	background-color:fuchsia;
} */

button[type=submit]:disabled,
#un-joueur [disabled],
#deux-joueurs [disabled]{
	opacity: 50%;
	//Permet de désactiver les hover, focus etc...
	pointer-events: none;
}



/**************PARTIE DE JEU A 2 JOUEURS***********************/
/**************PARTIE DE JEU A 2 JOUEURS***********************/

#scoreJoueurUn,
#scoreJoueurDeux{
	width:18.7rem;
	background-color: #e5e5e5b0;
	order:1;
	padding:0.6rem;
	margin:1.5rem 0.5em 0.5em 0.5em;
	justify-content:center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
}

#avatarJoueurDeux,
#avatarJoueurUn{
	width: 4rem;
	height: 4rem;
	padding-right: 0.3rem;
}

.nomJoueur{
	font-size: 2.5rem;
	color: black;
	background-color: none;
	/* border-left: #BCEA39 solid 1rem;
	border-bottom:#BCEA39 solid 3px; */
	line-height: 4rem;
}

.pointsDeVie{
	display: flex;
	padding:0.5rem;
	flex-basis: content;
	justify-content: center ;
	align-items: center;
}

.pointsDeVie p{
	font-weight: 600;
	color : #989898;
}

.pointsDeVie img{
	padding:2%;
}

#message{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color:#989898;
	margin:auto auto;
	line-height:2em;
	width:100%;
	margin:1rem auto;
	height:2em;
	background-color: #E5E5E5;*
}



#monTableau{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	/* text-align: center; */
	width:20rem;
	margin:1rem auto;
	height:20em;
	background-color: #e5e5e573;
}

.tailleBille{
	flex-basis:2rem;
	align-items: center;
	display:flex;
	justify-content: space-around;
	width:2rem;
	height:2rem;
}

.radio2{
	width:4rem;
	height:4rem;
	margin:1em;
	position:relative;
}

input[name="billes_jouees"]{
    width:100%;
    height:100%;
    padding:0rem;
    margin:0;
    position:absolute;
    background-color:transparent;
    z-index:4;
}

label[for="uneBille"],
label[for="deuxBilles"],
label[for="troisBilles"]{
   position: absolute;
   height: 4rem;
   width: 4rem;
   color: #989898;
   appearance: none;
   background-color:#BCEA39; 
   cursor: text;
   font-family: 'Roboto', sans-serif;
   font-size:4rem;
   font-weight: 600;
   text-align: center;
   line-height: 1em;
   padding: 0;
   /* margin: 0.2rem; */
   border: none;
   z-index:1;
}

input[name="billes_jouees"]:hover + label{
	background-color:#989898 ;
	color:#BCEA39;
	outline: none;
  	border:none;
}

input[name="billes_jouees"]:focus+label,
input[name="billes_jouees"]:checked+label{
	background-color:black ;
	color:#BCEA39;
	outline: none;
  	border:none;
}

#tourJoueurUn,
#tourJoueurDeux{
	width:5.5em;
	height:5.5em;
	background-color: #E5E5E5;
	padding:0.5em;
}

button#jouez{
	text-decoration: none;
	appearance:none;
	border:none;
	width: 4rem;
	height: 3rem;
	background-color: #BCEA39;
	color: #989898;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	margin: 1rem auto;
	padding: 0; 
}

button#jouez:hover{
	background-color: #989898;
	color: #BCEA39;
}

button#jouez:active{
	background-color: #989898;
	color: black;
}

button#jouez:focus{
	position:relative;
	outline: none;
  	border:none;
	background-color: black;
	color: #BCEA39;
}







/************** HIDE CLASS  *****************/
.hide,
.hide *{
	display:none;
}

.opacite,
.opacite *{
	opacity: 0;
}


