html{
	font-size:16px;
}


*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
	background-color: #989898;
	max-width:40rem;
	height:100%;
	margin:0 auto;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 4rem;
	color:#BCEA39;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	color:#BCEA39;
	position: relative;
    margin: 0;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	color:#989898;
	margin: 0.3rem;
}

p{
	padding:2%;
	font-size:1.1rem;
}


.block{
	display: inline-block;
}

.centrer{
	margin:0 auto;
}

.flex-container{
	display : flex;
	flex-flow: row nowrap;
	justify-content :space-around;
	align-items: center;
}

.column{
	display : flex;
	flex-flow: column nowrap;
	justify-content : content;
	align-items: stretch;
	padding:1%;
}

.noir{
	font-family: 'Roboto', sans-serif;
	background-color: black;
	color:#989898;

}










/**********HEADER ACCUEIL : nom du jeu et infos sur la partie*******************/
/**********HEADER ACCUEIL: nom du jeu et infos sur la partie******************/
/**********HEADER ACCUEIL: nom du jeu et infos sur la partie******************/

.titre{
	height : 7.8rem;
	width:100%;
	margin-top: 0.2rem;
}

 #nom-jeu{
 	flex-basis:50%;
 	order:1;
 	line-height:0.85em;
 	margin: 0.2rem;
 	padding:0.4rem;
 	text-align:right;
 	border-left:3rem solid #BCEA39;
 }

 #menu-jeu{
 	background-color:#BCEA39;
 	flex-basis:50%;
 	height:100%;
 	order:2;
 	padding:0.6rem;
 	margin:0.5em;
 	justify-content: space-around;
 }

h4{
 	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 0.90em;
	color:#989898;
	margin: 0;
	padding: 0;
	flex: 650%;
	text-align: center;
 }


/*****Boutons nombres de joueurs**********/
/*****Boutons nombres de joueurs**********/


div.item{
	width:4rem;
    height:4rem;
	position:relative;
}

input[name="nb_joueurs"]{
    width:4rem;
    height:4rem;
    padding:0rem;
    margin:0;
    position:absolute;
    background-color: transparent;
    z-index:5;
}

label[for="un"],
label[for="deux"]{
   position: absolute;
   height: 4rem;
   width: 4rem;
   color: #BCEA39;
   appearance: none;
   background-color: #989898;
   cursor: text;
   font-family: 'Roboto', sans-serif;
   font-size:4rem;
   font-weight: 600;
   text-align: center;
   line-height: 1em;
   padding: 0;
   margin-bottom: 0.2rem;
   border: none;
}

input[name="nb_joueurs"]:hover + label{
	background-color: #BCEA39;
	color:#989898;
	outline: none;
  	border:none;
}

input[name=nb_joueurs]:focus+label,
input[name=nb_joueurs]:checked+label{
	background-color:black ;
	color:#BCEA39;
	outline: none;
  	border:none;

}




/*****Bouton nombre de billes**********/

input {
    color: #BCEA39;
    appearance: none;
    outline:none;
    border:none;
    background-color: #989898;
    cursor: text;
    margin: 0.2rem;
    font-family: 'Roboto', sans-serif;
    font-size:4rem;
    font-weight: 600;
    width:8rem;
    height:4rem;
    padding:0;
    margin:0;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number]:focus{
	outline: none;
  	border:none;
  	text-align:center;
}










/*****************MAIN : corps du jeu*****************/
/*****************MAIN : corps du jeu*****************/
/*****************MAIN : corps du jeu*****************/



/*****************MAIN : ACCUEIl*****************/

#jeu{
	display:inline-flex;
	flex:auto;
	background-color: #989898;
	height:30rem;
	width:100%;
}

.circle {
   display:inline-block;
   width: 20rem;
   height: 20rem;
   clip-path: circle();
   background: black;
   margin: auto auto;
}

#play{
	position: relative;
	top: 50%;
	left:50%;
    transform: translate(-50%, -50%);
    background-color:black;
    border:none;
    box-shadow: none;
}

#play:hover {
    background-color: #989898;
    border:none;
    outline:none;
}

#play:active,
#play:focus{
    box-shadow: none;
    border:none;
    outline:none;
}

.message{
	display:block;
	font-family: 'Roboto', sans-serif;
	background-color: black;
	color:#989898;
}



/*****************MAIN : INSCRIPTION 2 JOUEURS****************/
/*****************MAIN : INSCRIPTION 2 JOUEURS****************/
/*****************MAIN : INSCRIPTION 2 JOUEURS****************/

.block>h1{
	display:block;
	color:#989898;
	font-size:2.5rem;
	text-align: center;
}

.container-inscription{
	display:flex;
	flex-flow:column;
/*	justify-content: center;*/
	text-align: center;
    align-items: stretch;
	width:48%;
	height: 85%;
	background-color: #E5E5E5;
}

label>h3{
	text-align: center;
	margin:0;
}


label>img{
	width: 8rem;
}


label.nom{
	height:2.2rem;
	margin-top:0rem;
}


input[type=text]{
	height:2.2rem;
	margin: 0.5rem 1rem;
	width:auto;
	background-color:#989898;
	font-size:1.5rem;
	font-weight: 400;
	color:#BCEA39;
}


input[type=text]:focus{
	outline: none;
  	border:none;
}




/************** Boutons radio choix avatar************/
/************** Boutons radio choix avatar************/
/************** Boutons radio choix avatar************/

.label-avatar{
	display:flex;
	margin:1rem;
}


input[name=avatar1],
input[name=avatar2]{
	position:absolute;
	background-color:#BCEA39;
	width:8rem;
	height:8rem;
	z-index:1;
}


.joueur-inscription{
	margin-top:0.5rem;
}


label img{
	z-index:6;
}




/************** Boutons validation inscriptions*****************/
/************** Boutons validation inscriptions*****************/
/************** Boutons validation inscriptions*****************/

button[type=submit]{
	text-decoration: none;
	appearance:none;
	border:none;
	width: 4rem;
	height: 3rem;
	background-color: #BCEA39;
	color: #989898;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	margin: 0;
	padding: 0; 
}

button[type=submit]:hover{
	background-color: #989898;
	color: #BCEA39;
}

button[type=submit]:active{
	background-color: #989898;
	color: black;
}

button[type=submit]:focus{
	position:relative;
	outline: none;
  	border:none;
	background-color: black;
	color: #BCEA39;
}






/************** HIDE CLASS  *****************/
.hide,
.hide *{
	display:none;
}


